*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
} 
html,
body{ 
    font-family: 'Courier New', Courier, monospace; 
    font-weight: 300; 
    line-height: 1.4; 
    background-color: #fff;
} 
nav{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
} 
.logo img{
    width: 150px; 
    height: auto; 
    
} 
.cnav{ 
    display: flex;
} 
.search{ 
    min-width:220; 
    
} 
.search,input{ 
    min-width: 400px;  
    min-height: 30px;
    padding: 10px,20px; 
    border: 0.5 solid white; 

} 
.search,button{ 
    border: none; 
    padding: 10px,20px;
} 
.Mic{ 
    padding: 5px; 
    border-radius: 50%; 
    background-color: darkgray; 
    display: grid; 
    place-items: centre;
} 
.side-nav{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-right: 20px;
}
